<header id="header-main">
  <nav><a href="<%= groups_path %>"><%= image_tag("house-fill.svg") %></a></nav>
  <h1>New Transaction</h1>
  <%= button_to image_tag("box-arrow-left.svg"), destroy_user_session_path, method: :delete, class: "log-out" %>
</header>

<%= form_with model: @new_transaction do |f| %>
    <div>
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
    <div>
      <%= f.number_field :amount, placeholder: "Amount" %>
    </div>
    <div >
      <%= f.collection_select :group_id, @user_groups, :id, :name %>
    </div>
    <%= f.hidden_field :author_id, value: current_user.id %>
    <div>
      <%= f.submit "ADD", class: "btn" %>
    </div>
  <% end %>