<section>
  <div class="cards-container">
    <% @groups.each do |group| %>
    <a href="<%= group_entities_path(group) %>">
      <div>
        <div><img src="<%= group.icon %>"></div>
        <div>
          <span><%= group.name %></span>
          <span><% date %></span>
        </div>
        <div>
          <span><%= group.total_accumulated_amount %></span>
        </div>
      </div>
    </a>
    <% end %>
  </div>

  <%= button_to "ADD CATEGORY", new_group_path,  method: "get"%>
</section>