<section id="home-page">
<header>
    <h1>Budget App $</h1>
</header>

<div>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.name %></strong>. <br>
  <%= link_to "Edit profile", edit_user_registration_path %> |
  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn "  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, class: "h-btn" %>
  <%= link_to "Login", new_user_session_path, class: "btn blue-bttn"  %>
<% end %>
</div>
</section>